.slide-fade-horizontal-enter-active,
.slide-fade-horizontal-leave-active
  transition: all .5s
.slide-fade-horizontal-enter
  transform: translate(60px, 0px)
  opacity: 0
.slide-fade-horizontal-leave-to
  transform: translate(-40px, 0px)
  opacity: 0